<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205585415831-jac9ohnvogh9rer675ludc53vuq3lp6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205585415831-jac9ohnvogh9rer675ludc53vuq3lp6f</string>
	<key>API_KEY</key>
	<string>AIzaSyDfMjha0YGcfrd0q-Tn3AZZYbWl0MgKJsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>205585415831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ESRNotify</string>
	<key>PROJECT_ID</key>
	<string>esr-notifer</string>
	<key>STORAGE_BUCKET</key>
	<string>esr-notifer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205585415831:ios:08740ae95ec8da9cd133d2</string>
</dict>
</plist>